<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true"></compilation>

    <!--单个state server-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=192.168.0.41:43210" cookieless="UseCookies" timeout="20" />
    
  </system.web>

</configuration>
