<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    <sessionState timeout="20" mode="Custom" customProvider="RedisSessionStateProvider" cookieless="UseCookies">
      <providers>
        <add name="RedisSessionStateProvider" type="SessionProvider.Redis.RedisSessionStateStore,SessionProvider.Redis" server="192.168.0.44" port="6379" password="123456"/>
        <!--server: 必需项,无默认值-->
        <!--port: 必需项,无默认值-->
        <!--password: 可选项,无默认值-->
      </providers>
    </sessionState>

  </system.web>
</configuration>