<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="MysqlConnStr" connectionString="server=192.168.0.43;uid=root;pwd=123456;database=aspnet_session" providerName="MySql.Data.MySqlClient"></add>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState timeout="2" mode="Custom" customProvider="MysqlSessionStateProvider" cookieless="UseCookies">
      <providers>
        <add name="MysqlSessionStateProvider" type="SessionProvider.Mysql.MysqlSessionStateStore, SessionProvider.Mysql" connectionStringName="MysqlConnStr"
              writeExceptionsToEventLog="false"/>
        <!--connectionStringName: mysql连接字符串名,必需项,默认值: 无-->
        <!--writeExceptionsToEventLog: 是否写入错误到windows事件日志,可选项,默认值:false-->
      </providers>
    </sessionState>
  </system.web>
</configuration>