<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true"></compilation>

    <customErrors mode="Off"></customErrors>
    
    <!--sql server 方式-->
    <sessionState mode="SQLServer" sqlConnectionString="server=192.168.0.40;uid=sa;pwd=aa123456.." cookieless="UseCookies" timeout="20" />
    
  </system.web>

</configuration>
